{% extends "base.html" %}
{% load static %}

{% block title %}ShelfSense{% endblock title %}

{% block head %}
{% endblock head %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static "Book_Detail_Page/style/book_detail.css" %}">
{% endblock stylesheet %}

{% block content %}
<header>
    <div id="header-div">
        <h1 id="header-title" class="indie-flower-regular">SHELF SENSE</h1>
        <p>Discover your next favorite read with ShelfSense – where every book finds its perfect reader.</p>
        <a href="{%url "login" %}"><div class="logout">LOG OUT!</div></a>
    </div>
</header>
<nav id="nav-genre">
    <a href="{% url "home" %}"><span class="genre">Home</span></a>
    <a href="{% url "Genre" genre='All Books' %}"><span class="genre">All</span></a>
    <a href="{% url "Genre" genre='Biography' %}"><span class="genre">Biography</span></a>
    <a href="{% url "Genre" genre='Children' %}"><span class="genre">Children</span></a>
    <a href="{% url "Genre" genre='Crime' %}"><span class="genre">Crime</span></a>
    <a href="{% url "Genre" genre='Fantasy' %}"><span class="genre">Fantasy</span></a>
    <a href="{% url "Genre" genre='Fiction' %}"><span class="genre">Fiction</span></a>
    <a href="{% url "Genre" genre='History' %}"><span class="genre">History</span></a>
    <a href="{% url "Genre" genre='Horror' %}"><span class="genre">Horror</span></a>
    <a href="{% url "Genre" genre='Humor' %}"><span class="genre">Humor</span></a>
    <a href="{% url "Genre" genre='Mystery' %}"><span class="genre">Mystery</span></a>
    <a href="{% url "Genre" genre='Novels' %}"><span class="genre">Novels</span></a>
    <a href="{% url "Genre" genre='NonFiction' %}"><span class="genre">Non-fiction</span></a>
    <a href="{% url "Genre" genre='Romance' %}"><span class="genre">Romance</span></a>
    <a href="{% url "Genre" genre='Science Fiction' %}"><span class="genre">Science Fiction</span></a>
    <a href="{% url "Genre" genre='All Books' %}"><span class="genre search-nav" style="border: solid 2px">Search</span></a>
</nav>


<div class="detail_container">
    <div class="capsul">
        <div class="book_img">
            <img src="{{image_url}}" alt="{[title}}">
        </div>
        <div class="book_detail">
            <div class="bkt">
                {{ title }}
            </div>
            <div class="author bk-gen"><span class="bk-info">Author:</span>{{ author }}</div>
            <div class="rating bk-gen"><span class="bk-info">Rating:</span>{{ rating }}/5</div>
            <div class="rating_count bk-gen"><span class="bk-info">Total Rating:</span>{{ rating_count}}</div>
            <div class="Genre bk-gen"><span class="bk-info">Genres:</span>{{ genres}}</div>
            <div class="pub_year bk-gen"><span class="bk-info">Publication year:</span>{{ pub_year}}</div>
            <div class="description bk-gen"><span class="bk-info">Description:</span>{{ description}}</div>
        </div>
    </div>
</div>

<div class="recom-section">
    <div class="recom-container">
        <div class="recom-title">Related Books</div>
        <div class="recom-books">

            {% for book in recom_book_list %}

                <div class="pm-div">
                    <a href="{% url "book" Id=book.id %}">
                        <div class="card-box">
                            <img src="{{book.Cover_url}}" alt="{{book.Title}}">
                        </div>
                    </a>
                    <span class="plus-span" data-id="{{book.id}}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 8" id="Plus">
                            <path d="M3 0v3H0v2h3v3h2V5h3V3H5V0H3z" fill="#595bd4" class="color000000 svgShape"></path>
                        </svg>                                         
                    </span>
                </div>

            {% endfor %}

        </div>
    </div>
    
</div>
{% endblock content %}

{% block scriptFiles %}
    <script src="{% static "Book_Detail_Page/script/book_detail.js" %}"></script>
{% endblock scriptFiles %}