{% extends "base.html" %}
{% load static %}

{% block title %}ShelfSense{% endblock title %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static "login_and_signup/style/login.css" %}">
{% endblock stylesheet %}

{% block content %}
<div class="container">
    <div class="image-container">
        <img src=" {% static "login_and_signup/images/reg_img.jpeg" %} " alt="BookClub Illustration">
    </div>
    <div class="form-container">
        <h2>Login to BookClub</h2>
        <p>Get instant access to the key takeaways from the world's most influential books ever written that are guaranteed to change your life.</p>   

        <form method="POST">
            {% csrf_token %}

            {% for field in loginForm %}
                <div class="form-inputs {% if field.errors %}error-style{% endif %}">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit">Log In</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}">Register Now</a>.</p>
        <p>Forget Password?<a href="{% url "reset" %}"> Reset Your Password.</a></p>
    </div>
</div>
{% endblock content %}

{% block scriptFiles %}{% endblock scriptFiles %}