{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'images/icon.png' %}" type="image/x-icon">
    <title>{% block title %}{% endblock title %}</title>
    {% block head %}{% endblock head %}
    {% block stylesheet %}{% endblock stylesheet %}
</head>
<body>
    {% block content %}{% endblock content %}
    {% block scriptFiles %}{% endblock scriptFiles %}
</body>

</html>