{% extends "base.html" %}
{% load static %}

{% block title %}ShelfSense{% endblock title %}

{% block head %}
{% endblock head %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static "Genre_Page/style/genre.css" %}">
{% endblock stylesheet %}

{% block content %}
<header>
    <div id="header-div">
        <h1 id="header-title" class="indie-flower-regular">SHELF SENSE</h1>
        <p>Discover your next favorite read with ShelfSense – where every book finds its perfect reader.</p>
    </div>
</header>
<nav id="nav-genre">
    <a href="{% url "home" %}"><span class="genre">Home</span></a>
    <a href="{% url "Genre" genre='All Books' %}"><span class="genre">All</span></a>
    <a href="{% url "Genre" genre='Biography' %}"><span class="genre">Biography</span></a>
    <a href="{% url "Genre" genre='Children' %}"><span class="genre">Children</span></a>
    <a href="{% url "Genre" genre='Fantasy' %}"><span class="genre">Fantasy</span></a>
    <a href="{% url "Genre" genre='Fiction' %}"><span class="genre">Fiction</span></a>
    <a href="{% url "Genre" genre='History' %}"><span class="genre">History</span></a>
    <a href="{% url "Genre" genre='Mystery' %}"><span class="genre">Mystery</span></a>
    <a href="{% url "Genre" genre='Non-Fiction' %}"><span class="genre">Non-fiction</span></a>
    <a href="{% url "Genre" genre='Romance' %}"><span class="genre">Romance</span></a>
    <a href="{% url "Genre" genre='Science' %}"><span class="genre">Science</span></a>
    <a href="{% url "Genre" genre='Science Fiction' %}"><span class="genre">Science Fiction</span></a>
    <a href="{% url "Genre" genre='All Books' %}"><span class="genre search-nav" style="border: solid 2px">Search</span></a>
</nav>
<div id="gmb">
    <div id="gmrt">
        <p class="title-para">{{ genre }}</p>
    </div>
    <div id="gmrc" id="booksContainer">
        {% comment %} {% for item in page_obj  %}
        <div class="card-box">
            <img src="{{ item.Cover_url }}" alt="{{ item.title }}" loading="lazy">
        </div>
        {% endfor %} {% endcomment %}
        

    </div>
    <div id="loading" style="display: none;">Loading more books...</div>
</div>

{% endblock content %}

{% block scriptFiles %}
    <script src="{% static "Genre_Page/script/genre.js" %}"></script>
{% endblock scriptFiles %}